img{
    display: none;
}

form.hide{
    display: none;
    position: relative;
    left: 45%;
}

form{
    position: absolute;
    left: 45%;
}

canvas{
    position: absolute; 
    left: 25%;
    top: 20%; 
}